.carousel {
    margin-top: 20px;
    min-height: 400px;
    height: 400px;
}

.slide {
    text-align: center;
    padding-bottom: 25px;
    height: 100%;
}

.slide img {
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 30px;
    object-fit: scale-down;
}